@media (max-width: 1440px) {
  .center {
    width: 62%;
  }

  .hero__slide--one {
    background-image: url("../img/hero-pic-1024-1.png");
  }

  .hero__slide--two {
    background-image: url("../img/hero-pic-1024-2.png");
  }

  .hero__slide--three {
    background-image: url("../img/hero-pic-1024-3.png");
  }

  .footer__right {
    display: none;
  }
}

@media (max-width: 1280px) {
  .stop-scroll {
    overflow: hidden;
  }

  .break::before {
    content: "\A"; /* \A is the CSS representation of a line break */
    white-space: normal;
  }

  .center {
    width: 56%;
  }

  .header {
    display: flex;
  }

  .header__container {
    width: 100%;
  }

  .header__burger {
    display: inline-block;
    position: relative;
    z-index: 1001;
    width: 30px;
    height: 23px;
  }

  .header__nav-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 420px;
    min-width: 250px;
    height: 100vh;
    z-index: 1000;
    padding: 170px 50px 50px 50px;
    background-color: var(--white);
    border-radius: 0px 0px 32px 32px;
    /* overflow-y: auto; */
    visibility: hidden;
    transform: translateY(120%);
  }

  .header__list {
    display: block;
    max-height: 100%;
    margin: 0;
    overflow-y: auto;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .header__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .header__nav-wrap--active {
    visibility: visible;
    transform: none;
  }

  .hamburger--active .hamburger__inner:nth-child(2) {
    opacity: 0;
  }
  .hamburger--active .hamburger__inner:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      left 0.3s ease-in-out;
  }

  .hamburger--active .hamburger__inner:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      left 0.3s ease-in-out;
  }

  .hamburger__inner {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      left 0.3s ease-in-out;
  }

  .header-logo {
    margin-right: -26px;
    width: 150px;
    height: 48px;
  }

  .header-logo img {
    width: 150px;
    min-height: 48px;
  }

  .form-loupe {
    width: calc(539 / 1024 * 100%);
    right: 35px;
    z-index: 1002;
  }

  .header-loupe {
    padding: 3px 0px;
    order: 1;
  }

  #hero {
    padding-top: 40px;
  }

  .slider {
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 77px;
    padding-right: 77px;
  }
  .slider__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 15px;
  }
  .slider__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  #about {
    padding-top: 13px;
    padding-bottom: 0;
  }

  .about__column {
    width: 100%;
  }
  .about__card-big {
    min-height: 640px;
    border-radius: 32px;
    background-image: url("../img/about_1024_big.png");
  }
  .about__card {
    margin-bottom: 30px;
  }
  .about__descr {
    margin-bottom: 57px;
  }
  .small-card {
    padding: 65px 116px 63px 76px;
  }

  .small-card__inner-first {
    max-width: 490px;
  }

  .small-card::before {
    margin-right: 40px;
  }
  #work {
    padding-bottom: 20px;
  }
  .work__consultation {
    margin-right: 50px;
    width: 100%;
  }
  .work__text {
    margin-bottom: 27px;
  }

  .work__title {
    margin-bottom: 47px;
  }

  .work__list {
    margin-bottom: 50px;
  }

  .work__consult::after {
    margin-top: 13px;
    background-image: url(../img/work_1024_first.png);
    background-size: cover;
    width: 100%;
    border-radius: 32px;
  }
  .work__consult-second::after {
    margin-top: 13px;
    background-image: url(../img/how-pic-1024-2.png);
    background-size: cover;
    width: 100%;
    border-radius: 32px;
  }
  .work__consult-third::after {
    margin-top: 13px;
    background-image: url(../img/how-pic-1024-3.png);
    background-size: cover;
    width: 100%;
    border-radius: 32px;
  }
  .work__consult-fours::after {
    margin-top: 13px;
    background-image: url(../img/how-pic-1024-4.png);
    background-size: cover;
    width: 100%;
    border-radius: 32px;
  }

  #questions {
    padding-bottom: 80px;
  }
  .questions__button {
    font-size: 20px;
    line-height: 32px;
    padding: 30px 150px 30px 0;
  }

  .form__wrapper {
    max-width: 541px;
  }

  .form__title {
    margin-left: -6px;
  }
  .feedback__submit-btn {
    font-size: 16px;
    line-height: 20px;
    padding: 19px 38px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  .form__input--textarea {
    margin-bottom: 29px;
  }
}

@media (max-width: 992px) {
  #header {
    min-height: 70px;
  }
  .header {
    padding-top: 11px;
    padding-bottom: 9px;
  }

  .header__nav-wrap {
    padding: 155px 50px 50px 50px;
  }

  .form-loupe {
    top: 24px;
    right: 30px;
    width: calc(539 / 768 * 100%);
  }

  .section-title {
    margin-bottom: 16px;
  }

  .slide {
    border-radius: 24px;
  }

  .hero__wrapper {
    min-height: 662px;
  }

  .hero__slide--one {
    border-radius: 24px;

    background-image: url("../img/hero-pic-768-1.png");
  }

  .hero__slide--two {
    border-radius: 24px;

    background-image: url("../img/hero-pic-768-2.png");
  }

  .hero__slide--three {
    border-radius: 24px;

    background-image: url("../img/hero-pic-768-3.png");
  }

  .slider {
    padding-left: 40px;
    padding-right: 40px;
  }

  .slider__title {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 16px;
  }

  .slider__text {
    font-size: 18px;
    line-height: 22px;
  }

  .small-card {
    padding: 35px 44px 35px 40px;
  }
  .small-card::before {
    margin-right: 16px;
    width: calc(114 / (668 - 40 - 46) * 100%);
  }
  .text {
    font-size: 16px;
    line-height: 32px;
  }
  .about__card {
    border-radius: 24px;
    min-height: 235px;
  }
  .about__card-big {
    min-height: 650px;
    border-radius: 24px;
    background-image: url("../img/about_768_big.png");
  }

  .about__descr {
    margin-bottom: 56px;
  }
  .big-card {
    padding: 34px 40px;
    border-radius: 24px;
  }
  .card-inner__text {
    max-width: 366px;
  }

  .work__list {
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .work__title {
    margin-bottom: 44px;
  }

  .work__item:nth-child(3n) {
    margin-right: 0;
  }
  .work__item:not(:last-child) {
    margin-right: 0;
  }

  .work__consult {
    flex-direction: column-reverse;
  }
  .work__consult-second {
    flex-direction: column-reverse;
  }
  .work__consult-third {
    flex-direction: column-reverse;
  }
  .work__consult-fours {
    flex-direction: column-reverse;
  }

  .work__consult::after {
    content: "";
    height: 284px;
    margin-top: 0;
    background-image: url(../img/work_768_first.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    margin-bottom: 38px;
  }
  .work__consult-second::after {
    content: "";
    height: 284px;
    margin-top: 0;
    background-image: url(../img/how-pic-768-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    margin-bottom: 38px;
  }
  .work__consult-third::after {
    content: "";
    height: 284px;
    margin-top: 0;
    background-image: url(../img/how-pic-768-3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    margin-bottom: 38px;
  }
  .work__consult-fours::after {
    content: "";
    height: 284px;
    margin-top: 0;
    background-image: url(../img/how-pic-768-4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    margin-bottom: 38px;
  }

  #questions {
    padding-top: 28px;
    padding-bottom: 110px;
  }
  .questions__button {
    font-size: 20px;
    line-height: 32px;
    padding: 30px 90px 30px 0;
  }
  .footer__feedback {
    flex-direction: column-reverse;
  }
  .feedback__list {
    display: none;
  }
  .form {
    margin-bottom: 50px;
  }
  .form__title {
    margin-left: 0;
  }
  .form__input--textarea {
    margin-bottom: 33px;
  }
  .feedback__submit-btn {
    padding: 20px 40px;
    margin-right: 20px;
  }
}

@media (max-width: 660px) {
  .card-inner__text {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .about__btn {
    margin-left: 0;
  }

  .slide {
    border-radius: 16px;
  }

  .hero__wrapper {
    min-height: 308px;
  }

  .hero__slide--one {
    background-image: url(../img/hero-pic-320-1.jpg);
  }

  .hero__slide--two {
    background-image: url(../img/hero-pic-320-2.png);
  }

  .hero__slide--three {
    background-image: url(../img/hero-pic-320-3.png);
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 10px;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 1px;
    left: 0;
    width: 100%;
  }

  .slider {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 21px;
    padding-right: 21px;
    text-align: center;
  }
  .slider__title {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .slider__button {
    padding: 20px 33px;
    font-size: 18px;
    line-height: 15px;
    border-radius: 8px;
  }
  .slider__text {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 32px;
  }
}

@media (max-width: 576px) {
  .header {
    border-radius: 0px 0px 16px 16px;
  }

  .header__nav-wrap {
    padding: 75px 19px 15px 19px;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header-logo {
    width: 110px;
    height: 35px;
  }
  .form-loupe {
    width: 100%;
    height: 69px;
    top: 26px;
    right: 0;
    border-radius: 0px 0px 24px 24px;
  }

  .search-btn {
    margin-right: 20px;
  }

  .header__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
  }

  .header__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .header-logo img {
    width: 110px;
    min-height: 35px;
  }

  #hero {
    padding-top: 30px;
  }

  .hero__wrapper {
    min-height: 290px;
  }

  .slider {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 21px;
    padding-right: 21px;
    text-align: center;
  }
  .slider__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }
  .slider__text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }
  .slider__button {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  #about {
    padding-top: 35px;
    padding-bottom: 0;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  .text {
    font-size: 14px;
    line-height: 28px;
  }
  .about__descr {
    margin-bottom: 14px;
  }

  .about__column {
    flex-direction: column;
    align-items: center;
  }

  .about__card {
    min-height: 249px;
  }
  .about__card-big {
    display: block;
    min-height: 200px;
    margin-right: 0;
    border-radius: 8px;
    background-size: 0;
    background-image: url("../img/about_320.png");
  }
  .about__card-big::before {
    display: inherit;
    content: "";
    border-radius: 16px;
    width: 100%;
    height: 200px;
    padding-top: calc(200 / 290 * 100%);
    background-color: #cacaca;
    background-image: inherit;
    background-size: cover;
    background-position: center;
  }
  .big-card {
    background: transparent;
  }
  .about__btn {
    font-size: 12px;
    line-height: 15px;
    width: 162px;
    height: 39px;
    padding: 10px 40px;
    border-radius: 8px;
    text-align: center;
    color: var(--orange);
  }

  .about__btn:hover,
  .about__btn:focus,
  .about__btn:active {
    color: var(--white);
  }

  .card-inner {
    text-align: left;
    padding: 0;
  }
  .card-inner__text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 12px;
  }

  .small-card {
    flex-wrap: wrap;
    justify-content: left;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  .small-card::before {
    display: inherit;
    content: "";
    flex-shrink: 0;
    margin-right: 0px;
    padding-top: 55px;
    width: 64px;
    height: 49px;
    background-image: inherit;
    background-position: center;
    background-size: contain;
  }

  .about__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  #work {
    padding-top: 33px;
  }

  .work__consult::after {
    height: 160px;
    background-image: url(../img/work_320_first.jpg);
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 16px;
  }

  .work__consult-second::after {
    height: 160px;
    background-image: url(../img/how-pic-320-2.png);
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 16px;
  }

  .work__consult-third::after {
    height: 160px;
    background-image: url(../img/how-pic-320-3.png);
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 16px;
  }

  .work__consult-fours::after {
    height: 160px;
    background-image: url(../img/how-pic-320-4.png);
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 16px;
  }

  .work__list {
    margin-bottom: 16px;
  }
  .work__title {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 29px;
  }
  .work__btn {
    font-size: 14px;
    line-height: 17px;
  }
  .work__consultation-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 7px;
    line-height: 32px;
  }
  .work__btn-first {
    padding: 10px 40px;
    margin-right: 4px;
    width: 162px;
    height: 39px;
    border-radius: 8px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 15px;
  }
  .work__btn-second {
    border-radius: 8px;
    padding: 11px 32px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 15px;
  }

  .work__buttons {
    margin-bottom: 0px;
  }
  #questions {
    padding-top: 39px;
    padding-bottom: 58px;
  }

  .questions__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }
  .questions__button {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 40px;
  }
  .questions__button::after {
    width: 30px;
    height: 30px;
  }

  .footer__container {
    padding-top: 33px;
  }

  .form__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .feedback__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .feedback__submit-btn {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 28px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12px;
    border-radius: 8px;
  }
  .feedback__label {
    display: block;
    text-align: center;
  }

  .feedback__left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
  .form__input {
    font-size: 14px;
    line-height: 32px;
    padding: 14px 20px;
    color: #cacaca;
    min-height: 60px;
  }

  .form__input--textarea {
    margin-bottom: 25px;
  }
  .feedback__check-text {
    font-size: 16px;
    line-height: 32px;
  }
  .footer__logo {
    align-items: center;
    background-image: url("/img/Logo_footer_320.svg");
    width: 131px;
    height: 42px;
    margin-bottom: 16px;
  }
  .social__link-size {
    width: 40px;
    height: 40px;
  }
  .form {
    margin-bottom: 33px;
  }
}
