@import url(_fonts.css);
@import url(_variables.css);
@import url(_global.css);

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-reset {
  margin: 0;
}

.title-reset {
  margin: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  background-color: var(--orange);
  border-radius: 16px;
  color: var(--white);
  cursor: pointer;
  transition: background-color var(--short);
}

.text {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.flex {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center,
.right,
.left {
  height: 100%;
}

.center {
  width: 70%;
}

.left,
.right {
  width: 15%;
}

.header__left {
  padding: 14px 0;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-right: 40px;
}

.header-logo,
.header-loupe {
  flex-shrink: 0;
}

.header-loupe {
  width: 24px;
  height: 24px;
  outline: none;
  color: var(--dark);
  transition: color var(--short);
}

.header-loupe:hover {
  color: var(--orange);
  cursor: pointer;
}

.header-loupe:focus:not(:hover) {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.header-loupe:active {
  color: var(--orange);
  cursor: pointer;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

.nav__item {
  padding: 39px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.nav__link {
  position: relative;
  outline: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transform: scaleX(0);
  transition: transform var(--short);
}

.nav__link:hover::after {
  transform: scaleX(1);
}

.nav__link:focus:not(:hover) {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.nav__link:active {
  color: var(--deep-orange);
}

.nav__link:active::after {
  color: var(--deep-orange);
  background-color: var(--deep-orange);
  transform: scaleX(1);
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.header-bottom {
  padding: 15px 45px;
  background: #ffffff;
  border-radius: 15px;
  min-height: 70px;
  align-items: center;
}

.header {
  min-height: 100px;
  background: var(--white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  height: 100px;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

#hero {
  padding-top: 50px;
  padding-bottom: 25px;
}
.slide {
  position: relative;
  width: 1770px;
  height: 620px;
}

.slide__text_content {
  position: absolute;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
  top: 0;
  left: 0;
  width: 55%;
}

.slider__title {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  margin-bottom: 24px;
  color: #ffffff;
}

.slider__text {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 90px;
  color: #ffffff;
}

.slider__button {
  padding: 25px 39px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}

.btn:hover {
  background-color: var(--orange-hover);
}

.btn:focus {
  background-color: var(--orange-focus);
}

.btn:active {
  background-color: var(--deep-orange);
}

.section-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

/* about-us */
#about-us {
  padding-top: 25px;
  padding-bottom: 50px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 20px;
}

.about-us__descr {
  margin-bottom: 50px;
  max-width: 1235px;
}

.about__wrap {
  display: flex;
  /* justify-content: space-between; */
}

.about__column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(870 / 1770 * 100%);
}

.about__card-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 622px;
  margin-right: 32px;
}

.about__card {
  overflow: hidden;
  width: 868px;
  flex-grow: 1;
  min-height: 258px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
}

.about__card:not(:last-child) {
  margin-bottom: 23px;
}

.small-card {
  background: #ffffff;
  justify-content: space-around;
  padding: 65px 60px;
  border: 1px solid #cacaca;
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.card-inner__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  width: 433px;
  color: #ffffff;
}

.about__btn {
  border: 3px solid var(--orange);
  box-sizing: border-box;
  margin-left: auto;
  border-radius: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 38px;
  color: #ffffff;
  transition: background-color var(--short), border-color var(--short);
}

.about__btn:hover {
  background-color: var(--orange);
}

.about__btn:focus {
  background-color: var(--orange);
}

.about__btn:active {
  border-color: var(--deep-orange);
  background-color: var(--deep-orange);
  outline: none;
}

.card-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-inner__big {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  width: 868px;
  height: 196px;
  border-radius: 32px;
}

.img-column {
  margin-right: 50px;
  background-image: url("img/about_us_right_1.png");
}

.special__card__inner {
  display: flex;
  flex-direction: column;
  width: 450px;
}

/* work */
#work {
  padding-top: 50px;
  padding-bottom: 50px;
}

.work__title {
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #000000;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  transition: color var(--short);
}

.work__btn.active {
  color: var(--deep-orange);
}

.work__btn:hover {
  color: var(--orange);
}
.work__btn:focus:not(:hover) {
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}
.work__btn:active {
  color: var(--deep-orange);
}

.work__main__consult {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.work__consultation {
  width: 758px;
  margin-right: 142px;
}

.work__consultation__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 8px;
}

.work__text {
  margin-bottom: 18px;
}

.work__buttons {
  margin-bottom: -32px;
}

.first__work__btn {
  padding: 20px 38px;
  margin-right: 32px;
  margin-bottom: 32px;
}

.second__work__btn {
  border: 1px solid #000000;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 16px;
  padding: 20px 38px;
  color: #000000;
  transition: background-color var(--short), color var(--short),
    border-color var(--short);
}

.second__work__btn:hover {
  background-color: #666666;
  border-color: #666666;
  color: var(--white);
}
.second__work__btn:focus {
  background-color: #666666;
  border-color: #666666;
  color: var(--white);
}
.second__work__btn:active {
  background-color: #000000;
  color: var(--white);
  border-color: #000000;
}

/* questions */
#questions {
  padding-top: 50px;
  padding-bottom: 50px;
}

.questions__title {
  margin-bottom: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.questions__item:first-child {
  border-top: 1px solid #cacaca;
}

.questions__item {
  border-bottom: 1px solid #cacaca;
  border-top: 1px solid #cacaca;
  transition: color var(--short), border-color var(--short);
}

.questions__item:hover,
.questions__button:hover {
  color: var(--orange);
  border-color: var(--orange);
  cursor: pointer;
}

.questions__item:focus-within,
.questions__button:focus {
  color: var(--orange);
  border-color: var(--orange);
}

.questions__item__title {
  padding: 40px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #000000;
}

.questions__button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  outline: none;
  /* identical to box height, or 133% */

  color: #000000;
}

.questions__button::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  background-image: url(../img/accordion-icon.svg);
  transition: background-image var(--short);
}

.questions__button:hover::after {
  background-image: url(../img/accordion-icon-orange.svg);
}
.questions__button:focus::after {
  background-image: url(../img/accordion-icon-orange.svg);
}

#footer {
  padding-top: 50px;
}

.footer_wrap {
  display: flex;
  background: #000000;
  padding: 50px 75px;
}

.footer__wrapper {
  width: calc(100% / 3);
}

.footer__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer_left__list {
  margin-bottom: auto;
}

.footer__left__title {
  color: #ffffff;
}

.footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  color: #cacaca;
}

.footer__center_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */

  color: #cacaca;
}

.footer__right__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #cacaca;
}

.footer__center_wrapper {
  display: flex;
  flex-direction: column;
}

.footer__center_input {
  border-radius: 16px;
  background: #414141;
  margin-bottom: 25px;
  padding: 14px 24px;
  color: #ffffff;
}

.footer__center__button {
  padding: 19px 52px;
  margin-right: 22px;
}

.button_block__span {
  color: #cacaca;
}

.footer-link {
  display: flex;
  outline: none;
}
.footer-left-socialmedia {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer__left__item:not(:last-child) {
  margin-right: 25px;
}
