@import url(_fonts.css);
@import url(_variables.css);
@import url(_global.css);

ontserrat-regular - latin_cyrillic */ @font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--default-size);
  line-height: var(--default-lh);
  color: var(--dark);
  min-width: 320px;
}

.container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

:root {
  /* шрифты */
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;

  --default-size: 16px;
  --default-lh: 20px;

  /* Анимация */
  --short: 0.3s ease-in-out;
  /* Цвета */
  --white: #ffffff;
  --dark: #333333;
  --orange: #ff9900;
  --orange-hover: #ffb84d;
  --orange-focus: #ffb84d;
  --deep-orange: #e1670e;
  --dark-gray: #666666;
  /* КОнтейнер */
  --container-max-width: 1870px;
  --container-padding: 50px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-reset {
  margin: 0;
}

.title-reset {
  margin: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  border: none;
  background-color: var(--orange);
  border-radius: 16px;
  color: var(--white);
  cursor: pointer;
  transition: background-color var(--short);
}

.text {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.flex {
  display: flex;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center,
.right,
.left {
  height: 100%;
  align-items: center;
}

.center {
  width: 56%;
}

.left,
.right {
  width: 15%;
}

/* hamburger */

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: #000;
}

.hamburger__box {
  width: 30px;
  height: 23px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger__inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger__inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}

.hamburger--collapse .hamburger__inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger__inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger__inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger__inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__burger {
  display: none;
}

/* header */
.header__nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 40px;
  width: 225px;
  height: 72px;
}

.header-logo,
.header-loupe {
  flex-shrink: 0;
}

.header-loupe {
  width: 24px;
  height: 24px;
  outline: none;
  color: var(--dark);
  transition: color var(--short);
}

.header-loupe:hover {
  color: var(--orange);
  cursor: pointer;
}

.header-loupe:focus:not(:hover) {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.header-loupe:active {
  color: var(--orange);
  cursor: pointer;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
}

.header__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header__link {
  position: relative;
  outline: none;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transform: scaleX(0);
  transition: transform var(--short);
}

.header__link:hover::after {
  transform: scaleX(1);
}

.header__link:focus:not(:hover) {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.header__link:active {
  color: var(--deep-orange);
}

.header__link:active::after {
  color: var(--deep-orange);
  background-color: var(--deep-orange);
  transform: scaleX(1);
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header-bottom {
  padding: 15px 45px;
  background: #ffffff;
  border-radius: 15px;
  min-height: 70px;
  align-items: center;
}

.header {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  min-height: 100px;
  background: var(--white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

#hero {
  padding-top: 50px;
  padding-bottom: 25px;
}

.slide {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}

.hero__wrapper {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  min-height: 620px;
  pointer-events: none;
}

.hero__content > * {
  pointer-events: auto;
}

.hero__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.hero__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__slide--one {
  background-image: url("../img/hero1.png");
}

.hero__slide--two {
  background-image: url("../img/hero2.png");
}

.hero__slide--three {
  background-image: url("../img/hero3.png");
}

.slider {
  position: relative;
  z-index: 2;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
  width: 53%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px;
  background-color: #cacaca;
  margin-bottom: 20px;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.slider__title {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  margin-bottom: 24px;
  color: #ffffff;
}

.slider__text {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 90px;
  color: #ffffff;
}

.slider__button {
  padding: 25px 39px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}

.btn:hover {
  background-color: var(--orange-hover);
}

.btn:focus {
  background-color: var(--orange-focus);
  outline: none;
}

.btn:active {
  background-color: var(--deep-orange);
}

.section-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

/* about-us */
#about {
  padding-top: 25px;
  padding-bottom: 50px;
}

.about__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.about__descr {
  margin-bottom: 50px;
  max-width: 1235px;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__column {
  display: flex;
  flex-direction: column;
  width: calc(870 / 1770 * 100%);
}

.about__card-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 32px;
  min-height: 622px;
  background-image: url("../img/about_us_big.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.about__card {
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
  min-height: 296px;
  border-radius: 32px;
}

.about__card:not(:last-child) {
  margin-bottom: 32px;
}

.small-card {
  background: #ffffff;
  padding: 65px 116px 63px 60px;
  border: 1px solid #cacaca;
  border-radius: 32px;
  background-size: 0;
}

.small-card::before {
  content: "";
  flex-shrink: 0;
  margin-right: 50px;
  width: calc(190 / (870 - 60 - 116) * 100%);
  padding-top: calc(20 / (870 - 60 - 116) * 100%);
  background-image: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-inner__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  width: 433px;
  color: #ffffff;
}

.about__btn {
  border: 3px solid var(--orange);
  box-sizing: border-box;
  margin-left: auto;
  border-radius: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 17px 35px;
  color: #ffffff;
  transition: background-color var(--short), border-color var(--short),
    color var(--short);
}

.about__btn:hover {
  background-color: var(--orange);
}

.about__btn:focus {
  background-color: var(--orange);
  outline: none;
}

.about__btn:active {
  border-color: var(--deep-orange);
  background-color: var(--deep-orange);
  outline: none;
}

.card-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.big-card {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.small-card__inner-first {
  display: flex;
  flex-direction: column;
}
.small-card__inner-second {
  display: flex;
  flex-direction: column;
}

/* work */
#work {
  padding-top: 50px;
  padding-bottom: 50px;
}

.work__title {
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */

  color: #000000;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__item:nth-child(3n) {
  margin-right: 87px;
}

.work__btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  transition: color var(--short);
}

.work__btn.active {
  color: var(--deep-orange);
}

.work__btn:hover {
  color: var(--orange);
}
.work__btn:focus:not(:hover) {
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}
.work__btn:active {
  color: var(--deep-orange);
}

.work__consult {
  display: none;
  justify-content: space-between;
  align-items: stretch;
}
.work__consult-second {
  display: none;
  justify-content: space-between;
  align-items: stretch;
}
.work__consult-third {
  display: none;
  justify-content: space-between;
  align-items: stretch;
}
.work__consult-fours {
  display: none;
  justify-content: space-between;
  align-items: stretch;
}

.work__consult.active,
.work__consult-second.active,
.work__consult-third.active,
.work__consult-fours.active {
  display: flex;
  animation-name: fade-in;
  animation-duration: 0.7s;
}

.work__consult::after {
  content: "";
  width: 870px;
  margin-top: 10px;
  background-image: url("../img/work__image.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}
.work__consult-second::after {
  content: "";
  width: 870px;
  margin-top: 10px;
  background-image: url("../img/how-pic-1920-1.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}
.work__consult-third::after {
  content: "";
  width: 870px;
  margin-top: 10px;
  background-image: url("../img/how-pic-1920-2.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}
.work__consult-fours::after {
  content: "";
  width: 870px;
  margin-top: 10px;
  background-image: url("../img/how-pic-1920-3.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.work__consultation {
  width: 758px;
  margin-right: 142px;
}

.work__consultation-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 8px;
}

.work__text {
  margin-bottom: 18px;
}

.break::before {
  content: "\A"; /* \A is the CSS representation of a line break */
  white-space: pre; /* maintains the line break */
}

.work__buttons {
  margin-bottom: -32px;
}

.work__btn-first {
  padding: 20px 38px;
  margin-right: 32px;
  margin-bottom: 32px;
}

.work__btn-second {
  border: 1px solid #000000;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 16px;
  padding: 20px 36px;
  color: #000000;
  transition: background-color var(--short), color var(--short),
    border-color var(--short);
}

.work__btn-second:hover {
  background-color: #666666;
  border-color: #666666;
  color: var(--white);
}
.work__btn-second:focus {
  outline: none;
  background-color: #666666;
  border-color: #666666;
  color: var(--white);
}
.work__btn-second:active {
  background-color: #000000;
  color: var(--white);
  border-color: #000000;
}

/* questions */
#questions {
  padding-top: 61px;
  padding-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.questions__item {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cacaca;
  transition: border-color var(--short);
}

.questions__button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  min-height: 110px;
  padding: 30px 120px 30px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  outline: none;
  color: #000000;
  transition: color var(--short);
}

.questions__button::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  background-image: url(../img/accordion-icon.svg);
  transition: background-image var(--short), transform var(--short);
  /* how to add transform: rotate(45deg) without conflict of  transform: translateY(-50%); */
}

.accordion--active > .accordion__control > .questions__button::after {
  transform: translateY(-50%) rotate(45deg);
}

.questions__item:first-child {
  border-top: 1px solid #cacaca;
}

.questions__item:not(:first-child) {
  border-top: 1px solid transparent;
}

.questions__item:first-child:hover,
.questions__item:hover,
.questions__item:focus-within {
  border-color: var(--orange);
}

.questions__button:hover,
.questions__button:focus {
  color: var(--orange);
  cursor: pointer;
  outline: none;
}

.questions__button:hover::after,
.questions__button:focus::after {
  background-image: url(../img/accordion-icon-orange.svg);
}

.questions__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

#footer {
  padding-bottom: 50px;
  background-color: #000000;
}

.footer__container {
  padding-top: 50px;
}

.footer__feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: flex-start;
  background-image: url("/img/Logo-footer.svg");
  width: 224px;
  height: 72px;
  margin-bottom: 20px;
}

.feedback__left {
  display: flex;
  flex-direction: column;
  margin-right: 6.5%;
}

.feedback__list {
  margin-bottom: 90px;
}

.footer__left__title {
  color: #ffffff;
}

.feedback__link {
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  color: #cacaca;
  transition: color var(--short);
}

.feedback__link:hover {
  color: var(--orange);
}
.feedback__link:focus:not(:active) {
  color: #cacaca;
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}
.feedback__link:active {
  color: var(--deep-orange);
}

.form__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  margin-bottom: 25px;
  color: #cacaca;
}

.footer__right__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #cacaca;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__input {
  border-radius: 16px;
  border: none;
  background: #414141;
  padding: 21px 22px;
  color: #cacaca;
  margin-bottom: 25px;
  outline: none;
  transition: background-color var(--short);
}

.form__input:hover {
  background-color: var(--dark-gray);
}

.form__input:focus {
  background-color: var(--dark-gray);
  color: var(--white);
}

.form__input--textarea {
  margin-bottom: 32px;
  height: 150px;
  resize: none;
}

.feedback__submit-btn {
  padding: 19px 55px;
  flex-shrink: 0;
  margin-right: 17px;
}

.feedback__check-text {
  color: #cacaca;
}

.social__link {
  width: 60px;
  height: 60px;
  fill: var(--dark-gray);
  transition: fill var(--short);
}

.social__link:hover {
  fill: var(--orange);
}

.social__link:focus:not(:active) {
  color: #cacaca;
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}

.social__link:active {
  fill: var(--deep-orange);
}

.footer__left-socialmedia {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer__left-socialmedia-item:not(:last-child) {
  margin-right: 25px;
}

.footer__right {
  width: calc(363 / 1770 * 100%);
  padding-top: 84px;
}

.feedback__label {
  cursor: pointer;
  transition: color var(--short);
}

.feedback__label:hover {
  color: var(--white);
}

.feedback__visual-check {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
  vertical-align: middle;
  transition: border-color var(--short);
}

.feedback__visual-check::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 7px;
  height: 4px;
  border-left: 2px solid #97ee3f;
  border-bottom: 2px solid #97ee3f;
  opacity: 0;
  transform: translate(-50%, -60%) rotate(-45deg) scale(1.1);
  transition: transform var(--short), opacity var(--short);
}

.feedback__check-text {
  vertical-align: middle;
}

.feedback__checkbox:checked ~ .feedback__visual-check::before {
  opacity: 1;
  transform: translate(-50%, -60%) rotate(-45deg) scale(1);
}

.feedback__checkbox:focus ~ .feedback__visual-check {
  border-color: var(--orange);
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.accordion--active .accordion__content {
  visibility: visible;
}

.accordion__text {
  margin-bottom: 40px;
}

/* Раскрывающаяся лупа */

.form-loupe {
  position: absolute;
  top: 35px;
  right: 50px;
  width: 30%;
  display: none;
  align-items: center;
  padding: 18px;
  transform: translateY(-50%);
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  transform-origin: right;
}

.form-loupe.is-opened {
  display: flex;
  animation-name: search-open;
  animation-duration: 0.3s;
}

.form-loupe.is-closed {
  animation-name: search-close;
  animation-duration: 0.3s;
}

.search-input {
  margin-right: auto;
  padding-bottom: 3px;
  border: 0;
  border-bottom: 1px solid gray;
}

.search-btn,
.close-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.search-btn {
  margin-right: 10px;
}

@keyframes search-open {
  from {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) scaleX(1);
    opacity: 1;
  }
}

@keyframes search-close {
  from {
    transform: translateY(-50%) scaleX(1);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
}
